$path-bower : "../../bower_components";
$fa-font-path:  $path-bower + "/font-awesome/fonts";
$icon-font-path: $path-bower + '/bootstrap-sass/assets/fonts/bootstrap/';


// Colors
$primary-color : #8baa43;


// Calendar
//$es-day-header-bg: 